includeConfig 'configs/general.config'
includeConfig 'configs/s3.config'

profiles {
  standard {
    includeConfig 'configs/standard.config'
  }
  tara {
    executor.$slurm.queueSize = 20
    includeConfig 'configs/tara.config'
  }

  colossus {
    includeConfig 'configs/colossus.config'
  }

  nbt {
    includeConfig 'configs/nbt.config'
  }

  jupyter {
    includeConfig 'configs/jupyter.config'
    env{
	DORADO_BIN="/home/jovyan/sw/dorado-0.8.2-linux-x64/bin"
	PATHMINIBAR_PARSE="/home/jovyan/sw/softwaresepsis"	
    }
}
  gb{
    executor.$slurm.queueSize = 10
    includeConfig 'configs/gb.config'
    env{
      DORADO_BIN="/nbt_main/share/pachyderm/dorado/dorado-0.8.2-linux-x64/bin"
      PATHMINIBAR_PARSE="/nbt_main/share/pachyderm/softwaresepsis"
    }
    
  }
}

manifest {
  mainScript = 'main.nf'
  name = 'nxf-template'
  description = """
  DSL2 based Nextflow NBT conventions pipeline template by Sinonkt.

  Usage: 
    nextflow run nbt/nxf-template \\
      -hub seeds \\
      -resume

    *for other nextflow [options] [-with-report|-with-timeline|-with-dag]
  """
  author = 'Krittin Phornsiricharoenphant (oatkrittin@gmail.com)'
  homePage = 'https://gitlab.seeds-th.com/nbt/nxf-template'
  version = '0.0.1'
}
