process {
  executor = 'local'
  //queue = 'memory'
  cache = 'lenient'

  withName: shortreadFastQC {
    conda = "/nbt_main/share/pachyderm/conda_env/amr_env"
    module = "Miniconda3/4.9.2"
    cpus = 8
    memory = '16 GB'
    time = '1d'
  }
  withName: shortreadtrimming {
    conda = "/nbt_main/share/pachyderm/conda_env/amr_env"
    module = "Miniconda3/4.9.2"
    cpus = 10
    memory = '16 GB'
    time = '1d'
  }
  withName: kraken2_classify {
    conda = "/nbt_main/share/pachyderm/conda_env/amr_kraken2_env"
    module = "Miniconda3/4.9.2"
    cpus = 12
    memory = '32 GB'
    time = '1d'
  }
  withName: kraken2_classify_longread {
    conda = "/nbt_main/share/pachyderm/conda_env/amr_kraken2_env"
    module = "Miniconda3/4.9.2"
    cpus = 12
    memory = '32 GB'
    time = '1d'
  }
  withName: run_porechop {
    conda = "/nbt_main/share/pachyderm/conda_env/amr_env"
    //module = "Miniconda3/4.9.2"
    cpus = 8
    memory = '16 GB'
    //time = '1d'
  }
  withName: run_nanoplot {
    conda = "/nbt_main/share/pachyderm/conda_env/nanoplot_env"
    module = "Miniconda3/4.9.2"
    cpus = 2
    memory = '8 GB'
    time = '1d'
  }

  withName: Hybrid_assembly {
    conda = "/nbt_main/share/pachyderm/conda_env/amr_unicycler_env2"
    module = "Miniconda3/4.9.2:SAMtools/1.16.1-GCC-11.3.0"
    cpus = 32
    memory = '32 GB'
    time = '1d'
  }

  withName: Shortread_assembly {
    conda = "/nbt_main/share/pachyderm/conda_env/amr_unicycler_env2"
    module = "Miniconda3/4.9.2:SAMtools/1.16.1-GCC-11.3.0"
    cpus = 24
    memory = '32 GB'
    time = '1d'
  }

  withName: run_flye_ont {
    conda = "/nbt_main/share/pachyderm/conda_env/amr_flye_env"
    module = "Miniconda3/4.9.2"
    cpus = 12
    memory = '32 GB'
    time = '1d'
  }

  withName: run_flye_ont_longfirst {
    conda = "/nbt_main/share/pachyderm/conda_env/amr_flye_env"
    module = "Miniconda3/4.9.2"
    cpus = 12
    memory = '32 GB'
    time = '1d'
  }

  withName: run_medaka {
    conda = "/nbt_main/share/pachyderm/conda_env/amr_medaka_env"
    module = "Miniconda3/4.9.2:SAMtools/1.16.1-GCC-11.3.0"
    cpus = 2
    memory = '16 GB'
    time = '1d'
  }

  withName: run_medaka_longfirst{
    conda = "/nbt_main/share/pachyderm/conda_env/amr_medaka_env"
    module = "Miniconda3/4.9.2:SAMtools/1.16.1-GCC-11.3.0"
    cpus = 2
    memory = '16 GB'
    time = '1d'
  }

  withName: run_quast {
    conda = "/nbt_main/share/pachyderm/conda_env/amr_env"
    module = "Miniconda3/4.9.2"
    cpus = 8
    memory = '16 GB'
    time = '1d'
  }

  withName: run_quast_short {
    conda = "/nbt_main/share/pachyderm/conda_env/amr_env"
    module = "Miniconda3/4.9.2"
    cpus = 8
    memory = '16 GB'
    time = '1d'
  }

  withName: run_quast_long {
    conda = "/nbt_main/share/pachyderm/conda_env/amr_env"
    module = "Miniconda3/4.9.2"
    cpus = 8
    memory = '16 GB'
    time = '1d'
  }

  withName: run_quast_hybrid {
    conda = "/nbt_main/share/pachyderm/conda_env/amr_env"
    module = "Miniconda3/4.9.2"
    cpus = 8
    memory = '16 GB'
    time = '1d'
  }

  withName: run_prokka {
    conda = "/nbt_main/share/pachyderm/conda_env/amr_prokka_env"
    module = "Miniconda3/4.9.2"
    cpus = 8
    memory = '16 GB'
    time = '1d'
  }

  withName: kraken2_classify_contig {
    conda = "/nbt_main/share/pachyderm/conda_env/amr_kraken2_env"
    module = "Miniconda3/4.9.2"
    cpus = 4
    memory = '16 GB'
    time = '1d'
  }

  withName: kraken2_taxon_filter {
    conda = "/nbt_main/share/pachyderm/conda_env/amr_krakentools_env"
    module = "Miniconda3/4.9.2"
    cpus = 4
    memory = '16 GB'
    time = '1d'
  }

  withName: kraken2_sum_report {
    conda = "/nbt_main/share/pachyderm/conda_env/amr_krakentools_env"
    module = "Miniconda3/4.9.2"
    cpus = 2
    memory = '8 GB'
    time = '1d'
  }

  withName: GTDBTK_classify_wf {
    conda = "/nbt_main/share/pachyderm/conda_env/amr_gtdbtk_env"
    module = "Miniconda3/4.9.2"
    cpus = 24
    memory = '512 GB'
    time = '5d'
  }

  withName: Abricate_CARD {
    conda = "/nbt_main/share/pachyderm/conda_env/amr_abricate_env"
    module = "Miniconda3/4.9.2"
    cpus = 2
    memory = '8 GB'
    time = '1d'
  }

  withName: Abricate_MEGARes {
    conda = "/nbt_main/share/pachyderm/conda_env/amr_abricate_env"
    module = "Miniconda3/4.9.2"
    cpus = 2
    memory = '8 GB'
    time = '1d'
  }

  withName: Abricate_ResFinder {
    conda = "/nbt_main/share/pachyderm/conda_env/amr_abricate_env"
    module = "Miniconda3/4.9.2"
    cpus = 2
    memory = '8 GB'
    time = '1d'
  }

  withName: Abricate_PlasmidFinder {
    conda = "/nbt_main/share/pachyderm/conda_env/amr_abricate_env"
    module = "Miniconda3/4.9.2"
    cpus = 2
    memory = '8 GB'
    time = '1d'
  }

  withName: Abricate_VFDB {
    conda = "/nbt_main/share/pachyderm/conda_env/amr_abricate_env"
    module = "Miniconda3/4.9.2"
    cpus = 2
    memory = '8 GB'
    time = '1d'
  }

  withName: Abricate_ecoli_vf {
    conda = "/nbt_main/share/pachyderm/conda_env/amr_abricate_env"
    module = "Miniconda3/4.9.2"
    cpus = 2
    memory = '8 GB'
    time = '1d'
  }

  withName: Abricate_NCBI_AMRFinderPlus {
    conda = "/nbt_main/share/pachyderm/conda_env/amr_abricate_env"
    module = "Miniconda3/4.9.2"
    cpus = 2
    memory = '8 GB'
    time = '1d'
  }

  withName: Abricate_Summary {
    conda = "/nbt_main/share/pachyderm/conda_env/amr_abricate_env"
    module = "Miniconda3/4.9.2"
    cpus = 2
    memory = '8 GB'
    time = '1d'
  }
  
  withName: run_roary{
    container = '/nbt_main/share/pachyderm/singularity_img/roary_latest.sif'
    module = "Miniconda3/4.9.2"
    cpus = 16
    memory = '16 GB'
    time = '1d'
  }

  withName: run_racon_2round{
    conda = "/nbt_main/share/pachyderm/conda_env/amr_racon_env"
    module = "Miniconda3/4.9.2"
    cpus = 8
    memory = '16 GB'
    time = '1d'
  }

  withName: run_raxml{
    module = 'RAxML/8.2.9-foss-2018b-hybrid-avx2'
    cpus = 8
    memory = '256 GB'
    time = '2d'
  }

  withName: run_mlst{
    conda = "/nbt_main/share/pachyderm/conda_env/amr_mlst_env"
    module = "Miniconda3/4.9.2"
    cpus = 2
    memory = '16 GB'
    time = '1d'
  }

  withName: run_spatyper{
    conda = "/nbt_main/share/pachyderm/conda_env/amr_spatyper_env"
    module = "Miniconda3/4.9.2"
    cpus = 2
    memory = '8 GB'
    time ='1d'
  }

  withName: run_ssuissero{
    conda = "/nbt_main/share/pachyderm/conda_env/ssuissero_env"
    module = "Miniconda3/4.9.2"
    cpus = 2
    memory = '8 GB'
    time = '1d'
  }

  withName: run_sccmec{
    conda = "/nbt_main/share/pachyderm/conda_env/amr_staphopiasccmec_env"
    module = "Miniconda3/4.9.2"
    cpus = 2
    memory = '8 GB'
    time ='1d'
  }

  withName: run_busco{
    container = '/nbt_main/share/pachyderm/singularity_img/busco_v5.4.7_cv1.sif'
    cpus = 12
    memory = '16 GB'
    time = '1d'
  }

  withName: run_amrfinderplus{
    container = '/nbt_main/share/pachyderm/singularity_img/ncbi-amrfinderplus:3.12.8--h283d18e_0'
    module = "Miniconda3/4.9.2"
    cpus = 16
    memory = '16 GB'
    time = '1d'
  }

  withName: run_seqsero2{
    conda = '/nbt_main/share/pachyderm/conda_env/seqsero2_env'
    module = "Miniconda3/4.9.2"
    cpus = 2
    memory = '8 GB'
    time = '1d'
  }
  
  withName: run_cgviewbuilder{
    conda = '/nbt_main/share/pachyderm/conda_env/ruby_env'
    module = "Miniconda3/4.9.2"
    cpus = 2
    memory = '8 GB'
    time = '1d'
  }

  withName: run_dorado{
    //queue = "dgx"
    conda = "/nbt_main/share/pachyderm/conda_env/samtools_env"
    //module = "Miniconda3/4.9.2"
    cpus = 2 
    memory = '256 GB'
    //clusterOptions = "--gres=gpu:1"
  }

  withName: run_bwamem{
    container = '/nbt_main/share/pachyderm/singularity_img/bwa:0.7.17--he4a0461_11'
    cpus = 8
    memory = '32 GB'
    time = '1d'
  }

  withName: run_polca{
    container = '/nbt_main/share/pachyderm/singularity_img/masurca-4.1.0--pl5321hb5bd705_1'
    module = "SAMtools/1.16.1-GCC-11.3.0"
    cpus = 16
    memory = '64 GB'
    time = '1d'
  }

  withName: run_checkM{
    container = '/nbt_main/share/pachyderm/singularity_img/checkm-genome:1.2.3--pyhdfd78af_1'
    cpus = 16
    memory = '512 GB'
    time = '1d'
  }

  withName: run_polypolish{
    container = '/nbt_main/share/pachyderm/singularity_img/polypolish:0.6.0--hdbdd923_0'
    cpus = 8
    memory = '32 GB'
    time = '1d'
  }

  withName: run_nextstrain {
    conda = "/nbt_main/share/pachyderm/conda_env/nextstrain_env"
    module = "Miniconda3/4.9.2"
    cpus = 8
    memory = '128 GB'
  }

  withName: run_filtlong {
    container = '/nbt_main/share/pachyderm/singularity_img/filtlong:0.2.1--h9a82719_0'
    cpus = 8
    memory = '16 GB'
  }

  withName: run_mobileElementFinder {
    container = '/nbt_main/share/pachyderm/singularity_img/mobile_element_finder.sif'
    cpus = 8
    memory = '16 GB'
  }

  withName: run_minibar {
    //module = "Mamba/23.1.0-4"
    //container = '/home/jovyan/sw/singularity/python2.7'
    cpus = 4
    memory = '16 GB'
  }

  withName: run_minibar_getperfectindex {
    conda = '/nbt_main/share/pachyderm/conda_env/ruby_env'
    //conda = '/home/jovyan/conda_env/ONT16Sanalysis'
    //module = "Miniconda3/4.9.2"
    cpus = 2
    memory = '16 GB'
  }

  withName: run_iqtree {
    conda = '/nbt_main/share/pachyderm/conda_env/amr_iqtree_env'
    module = "Miniconda3/4.9.2"
    cpus = 8
    memory = '64 GB'
  }


  withName: 'qualityfilter|singlereadFastQC|run_kraken2report|run_braken' {
    //conda = "/nbt_main/share/pachyderm/conda_env/amr_kraken2_env"
    conda = "/home/jovyan/conda_env/ONT16Sanalysis"
    //module = "Miniconda3/4.9.2"
    //module = "Mamba/23.1.0-4"
    cpus = 6
    memory = '32 GB'
  }
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = '--bind /tmp:/tmp,/nbt_main:/nbt_main'
}
