process {
  executor = 'slurm'
  queue = 'app'
  cache = 'lenient'

  withName: shortreadFastQC {
    conda = "/nbt_data/share/pachyderm/conda_env/amr_env"
    cpus = 8
    memory = '16 GB'
    time = '1d'
  }
  withName: shortreadtrimming {
    conda = "/nbt_data/share/pachyderm/conda_env/amr_env"
    cpus = 26
    memory = '16 GB'
    time = '1d'
  }
  withName: kraken2_classify {
    conda = "/nbt_data/share/pachyderm/conda_env/amr_env"
    cpus = 32
    memory = '600 GB'
    time = '1d'
  }
  withName: kraken2_classify_longread {
    conda = "/nbt_data/share/pachyderm/conda_env/amr_env"
    cpus = 32
    memory = '600 GB'
    time = '1d'
  }
  withName: run_porechop {
    conda = "/nbt_data/share/pachyderm/conda_env/amr_env"
    cpus = 32
    memory = '64 GB'
    time = '1d'
  }
  withName: run_nanoplot {
    conda = "/nbt_data/share/pachyderm/conda_env/amr_env/amr_env"
    cpus = 32
    memory = '64 GB'
    time = '1d'
  }

  withName: Hybrid_assembly {
    conda = "/nbt_data/share/pachyderm/conda_env/amr_env/amr_env"
    cpus = 48
    memory = '900 GB'
    time = '1d'
  }

  withName: Shortread_assembly {
    conda = "/nbt_data/share/pachyderm/conda_env/amr_env/amr_env"
    cpus = 48
    memory = '900 GB'
    time = '1d'
  }

  withName: run_flye_ont {
    conda = "/nbt_data/share/pachyderm/conda_env/amr_env/amr_env"
    cpus = 48
    memory = '900 GB'
    time = '1d'
  }

  withName: run_medaka {
    conda = "/nbt_data/share/pachyderm/conda_env/amr_env/amr_medaka_env"
    cpus = 2
    memory = '300 GB'
    time = '1d'
  }

  withName: run_quast {
    conda = "/nbt_data/share/pachyderm/conda_env/amr_env/amr_env"
    cpus = 8
    memory = '64 GB'
    time = '1d'
  }

  withName: run_prokka {
    conda = "/nbt_data/share/pachyderm/conda_env/amr_env/amr_prokka_env"
    cpus = 16
    memory = '128 GB'
    time = '1d'
  }

  withName: kraken2_classify_contig {
    conda = "/nbt_data/share/pachyderm/conda_env/amr_env/amr_env"
    cpus = 12
    memory = '64 GB'
    time = '1d'
  }

  withName: kraken2_taxon_filter {
    conda = "/nbt_data/share/pachyderm/conda_env/amr_env/amr_env"
    cpus = 4
    memory = '16 GB'
    time = '1d'
  }

  withName: kraken2_sum_report {
    conda = "/nbt_data/share/pachyderm/conda_env/amr_env/amr_env"
    cpus = 2
    memory = '8 GB'
    time = '1d'
  }

  withName: GTDBTK_classify_wf {
    conda = "/nbt_data/share/pachyderm/conda_env/amr_env/amr_gtdbtk_env"
    cpus = 48
    memory = '900 GB'
    time = '5d'
  }

  withName: Abricate_CARD {
    conda = "/nbt_data/share/pachyderm/conda_env/amr_env/abricate_env"
    cpus = 4
    memory = '32 GB'
    time = '1d'
  }

  withName: Abricate_MEGARes {
    conda = "/nbt_data/share/pachyderm/conda_env/amr_env/abricate_env"
    cpus = 4
    memory = '32 GB'
    time = '1d'
  }

  withName: Abricate_ResFinder {
    conda = "/nbt_data/share/pachyderm/conda_env/amr_env/abricate_env"
    cpus = 4
    memory = '32 GB'
    time = '1d'
  }

  withName: Abricate_PlasmidFinder {
    conda = "/nbt_data/share/pachyderm/conda_env/amr_env/abricate_env"
    cpus = 4
    memory = '32 GB'
    time = '1d'
  }

  withName: Abricate_VFDB {
    conda = "/nbt_data/share/pachyderm/conda_env/amr_env/abricate_env"
    cpus = 4
    memory = '32 GB'
    time = '1d'
  }

  withName: Abricate_ecoli_vf {
    conda = "/nbt_data/share/pachyderm/conda_env/amr_env/abricate_env"
    cpus = 4
    memory = '32 GB'
    time = '1d'
  }

  withName: Abricate_NCBI_AMRFinderPlus {
    conda = "/nbt_data/share/pachyderm/conda_env/amr_env/abricate_env"
    cpus = 4
    memory = '32 GB'
    time = '1d'
  }

  withName: Abricate_Summary {
    conda = "/nbt_data/share/pachyderm/conda_env/amr_env/abricate_env"
    cpus = 2
    memory = '32 GB'
    time = '1d'
  }
  
  withName: run_roary{
    container = '/nbt_data/share/pachyderm/conda_env/sin_image/roary_latest.sif'
    module = 'Singularity'
    cpus = 24
    memory = '128 GB'
    time = '1d'
  }

  withName: run_racon_2round{
    conda = "/nbt_data/share/pachyderm/conda_env/amr_env/amr_racon_env"
    cpus = 8
    memory = '64 GB'
    time = '1d'
  }

  withName: run_raxml{
    module = 'RAxML/8.2.9-foss-2018b-hybrid-avx2'
    cpus = 48
    memory = '256 GB'
    time = '2d'
  }

  withName: run_mlst{
    conda = "/nbt_data/share/pachyderm/conda_env/amr_env/amr_mlst_env"
    cpus = 8
    memory = '64 GB'
    time = '1d'
  }

  withName: run_spatyper{
    conda = "/nbt_data/share/pachyderm/conda_env/amr_env/amr_env"
    cpus = 8
    memory = '64 GB'
    time ='1d'
  }

  withName: run_ssuissero{
    conda = "/nbt_data/share/pachyderm/conda_env/amr_env/ssuissero_env"
    cpus = 8
    memory = '64 GB'
    time = '1d'
  }

  withName: run_sccmec{
    conda = "/nbt_data/share/pachyderm/conda_env/amr_env/amr_env"
    cpus = 8
    memory = '64 GB'
    time ='1d'
  }
}

singularity {
    enabled = true
    autoMounts = true
}