process {
  executor = 'slurm'
  queue = 'memory'
  cache = 'lenient'
  process.sbatchOptions = '--account=proj0168'
  
  withName: shortreadFastQC {
    conda = "/tarafs/biobank/data/modules/.local/easybuild/software/Miniconda3/4.4.10/envs/amr_env"
    cpus = 8
    memory = '16 GB'
    time = '1d'
  }
  withName: shortreadtrimming {
    conda = "/tarafs/biobank/data/modules/.local/easybuild/software/Miniconda3/4.4.10/envs/amr_env"
    cpus = 26
    memory = '16 GB'
    time = '1d'
  }
  withName: kraken2_classify {
    conda = "/tarafs/biobank/data/modules/.local/easybuild/software/Miniconda3/4.4.10/envs/amr_env"
    cpus = 32
    memory = '600 GB'
    time = '1d'
  }
  withName: kraken2_classify_longread {
    conda = "/tarafs/biobank/data/modules/.local/easybuild/software/Miniconda3/4.4.10/envs/amr_env"
    cpus = 32
    memory = '600 GB'
    time = '1d'
  }
  withName: run_porechop {
    conda = "/tarafs/biobank/data/modules/.local/easybuild/software/Miniconda3/4.4.10/envs/amr_env"
    cpus = 32
    memory = '64 GB'
    time = '1d'
  }
  withName: run_nanoplot {
    conda = "/tarafs/biobank/data/modules/.local/easybuild/software/Miniconda3/4.4.10/envs/amr_env"
    cpus = 32
    memory = '64 GB'
    time = '1d'
  }

  withName: Hybrid_assembly {
    conda = "/tarafs/biobank/data/modules/.local/easybuild/software/Miniconda3/4.4.10/envs/amr_env"
    cpus = 48
    memory = '900 GB'
    time = '1d'
  }

  withName: Shortread_assembly {
    conda = "/tarafs/biobank/data/modules/.local/easybuild/software/Miniconda3/4.4.10/envs/amr_env"
    module = "SAMtools"
    cpus = 48
    memory = '900 GB'
    time = '1d'
  }

  withName: run_flye_ont {
    conda = "/tarafs/biobank/data/modules/.local/easybuild/software/Miniconda3/4.4.10/envs/amr_env"
    cpus = 48
    memory = '900 GB'
    time = '1d'
  }

  withName: run_medaka {
    conda = "/tarafs/biobank/data/modules/.local/easybuild/software/Miniconda3/4.4.10/envs/amr_medaka_env"
    cpus = 2
    memory = '300 GB'
    time = '1d'
  }

  withName: run_quast {
    conda = "/tarafs/biobank/data/modules/.local/easybuild/software/Miniconda3/4.4.10/envs/amr_env"
    cpus = 8
    memory = '64 GB'
    time = '1d'
  }

  withName: run_prokka {
    conda = "/tarafs/biobank/data/modules/.local/easybuild/software/Miniconda3/4.4.10/envs/amr_prokka_env"
    cpus = 16
    memory = '128 GB'
    time = '1d'
  }

  withName: kraken2_classify_contig {
    conda = "/tarafs/biobank/data/modules/.local/easybuild/software/Miniconda3/4.4.10/envs/amr_env"
    cpus = 12
    memory = '64 GB'
    time = '1d'
  }

  withName: kraken2_taxon_filter {
    conda = "/tarafs/biobank/data/modules/.local/easybuild/software/Miniconda3/4.4.10/envs/amr_env"
    cpus = 4
    memory = '16 GB'
    time = '1d'
  }

  withName: kraken2_sum_report {
    conda = "/tarafs/biobank/data/modules/.local/easybuild/software/Miniconda3/4.4.10/envs/amr_env"
    cpus = 2
    memory = '8 GB'
    time = '1d'
  }

  withName: GTDBTK_classify_wf {
    conda = "/tarafs/biobank/data/modules/.local/easybuild/software/Miniconda3/4.4.10/envs/amr_gtdbtk_env"
    cpus = 48
    memory = '900 GB'
    time = '5d'
  }

  withName: Abricate_CARD {
    conda = "/tarafs/biobank/data/modules/.local/easybuild/software/Miniconda3/4.4.10/envs/abricate_env"
    cpus = 4
    memory = '32 GB'
    time = '1d'
  }

  withName: Abricate_MEGARes {
    conda = "/tarafs/biobank/data/modules/.local/easybuild/software/Miniconda3/4.4.10/envs/abricate_env"
    cpus = 4
    memory = '32 GB'
    time = '1d'
  }

  withName: Abricate_ResFinder {
    conda = "/tarafs/biobank/data/modules/.local/easybuild/software/Miniconda3/4.4.10/envs/abricate_env"
    cpus = 4
    memory = '32 GB'
    time = '1d'
  }

  withName: Abricate_PlasmidFinder {
    conda = "/tarafs/biobank/data/modules/.local/easybuild/software/Miniconda3/4.4.10/envs/abricate_env"
    cpus = 4
    memory = '32 GB'
    time = '1d'
  }

  withName: Abricate_VFDB {
    conda = "/tarafs/biobank/data/modules/.local/easybuild/software/Miniconda3/4.4.10/envs/abricate_env"
    cpus = 4
    memory = '32 GB'
    time = '1d'
  }

  withName: Abricate_ecoli_vf {
    conda = "/tarafs/biobank/data/modules/.local/easybuild/software/Miniconda3/4.4.10/envs/abricate_env"
    cpus = 4
    memory = '32 GB'
    time = '1d'
  }

  withName: Abricate_NCBI_AMRFinderPlus {
    conda = "/tarafs/biobank/data/modules/.local/easybuild/software/Miniconda3/4.4.10/envs/abricate_env"
    cpus = 4
    memory = '32 GB'
    time = '1d'
  }

  withName: Abricate_Summary {
    conda = "/tarafs/biobank/data/modules/.local/easybuild/software/Miniconda3/4.4.10/envs/abricate_env"
    cpus = 2
    memory = '32 GB'
    time = '1d'
  }
  
  withName: run_roary{
    container = '/tarafs/biobank/data/home/worawich/singularity_image/roary_latest.sif'
    module = 'Singularity'
    cpus = 24
    memory = '128 GB'
    time = '1d'
  }

  withName: run_racon_2round{
    conda = "/tarafs/biobank/data/modules/.local/easybuild/software/Miniconda3/4.4.10/envs/amr_racon_env"
    cpus = 8
    memory = '64 GB'
    time = '1d'
  }

  withName: run_raxml{
    module = 'RAxML/8.2.9-foss-2018b-hybrid-avx2'
    cpus = 48
    memory = '256 GB'
    time = '2d'
  }

  withName: run_mlst{
    conda = "/tarafs/biobank/data/modules/.local/easybuild/software/Miniconda3/4.4.10/envs/amr_mlst_env"
    cpus = 8
    memory = '64 GB'
    time = '1d'
  }

  withName: run_spatyper{
    conda = "/tarafs/biobank/data/modules/.local/easybuild/software/Miniconda3/4.4.10/envs/amr_env"
    cpus = 8
    memory = '64 GB'
    time ='1d'
  }

  withName: run_ssuissero{
    conda = "/tarafs/biobank/data/modules/.local/easybuild/software/Miniconda3/4.4.10/envs/ssuissero_env"
    cpus = 8
    memory = '64 GB'
    time = '1d'
  }

  withName: run_sccmec{
    conda = "/tarafs/biobank/data/modules/.local/easybuild/software/Miniconda3/4.4.10/envs/amr_env"
    cpus = 8
    memory = '64 GB'
    time ='1d'
  }

  withName: run_busco{
    container = '/tarafs/biobank/data/home/worawich/test_busco/busco_v5.4.7_cv1.sif'
    module = 'Singularity'
    cpus = 24
    memory = '128 GB'
    time = '1d'
  }

  withName: run_amrfinderplus{
    container = '/tarafs/biobank/data/home/worawich/test_amrfinderplus/ncbi-amrfinderplus:3.10.42--h6e70893_0'
    module = 'Singularity'
    cpus = 24
    memory = '128 GB'
    time = '1d'
  }

  withName: run_seqsero2{
    container = '/tarafs/biobank/data/home/worawich/test_seqsero2/seqsero2:1.2.1--py_0'
    module = 'Singularity'
    cpus = 24
    memory = '128 GB'
    time = '1d'
  }

  withName: run_cgviewbuilder{
    conda = '/tarafs/biobank/data/modules/.local/easybuild/software/Miniconda3/4.4.10/envs/ruby_env'
    cpus = 2
    memory = '8 GB'
    time = '1d'
  }
}

singularity {
    enabled = true
    autoMounts = true
}